[
{%- for sheet in sheets %}
    {
        "name" : "{{sheet.abs.NAME}}",
        "description" : "{{sheet.abs.DESCRIPTION}}",
        "lines" : [
    {%- for row in sheet.rows if row.date -%}
            {% if row.date %}
            {
                "date" : "{{row.date | excel_time('%Y/%m/%d')}}",
                "event" : "{{row.event}}",
                "price" : "{{row.col_05}}"
            }{% if not loop.last %},{%endif -%}
            {%- endif %}
    {%- endfor %}
        ]
    }{% if not loop.last %},{%endif -%}
{%- endfor %}
]
