{% for header in headers -%}
    {{header}}{%if not loop.last %}/{%endif -%}
{% endfor %}
{%- for sheet in sheets %}
Sheet {{loop.index}}.
{%- for rows in sheet.rows %}
{{rows.Name}}/{{rows['Head-B']}}/{{rows['Head-C']}}/{{rows['Head-D']}}/{{rows['Head-E']}}/{{rows['Head-F']}}/{{rows['Head-End']}}
{%- endfor -%}{% endfor -%}