Name/Head-B/Head-C/Head-D/Head-E/Head-F/Head-End
{%- for sheet in sheets %}
Sheet {{loop.index}}.
Fixed Cells: {{sheet.abs.CELL_A}} {{sheet.abs.CELL_B}}
{%- for row in sheet.rows %}
{{row.A}}/{{row.B}}/{{row.C}}/{{row.D}}/{{row.E}}/{{row.F}}/{{row.G}}
{%- endfor -%}{% endfor -%}