Name/Head-B/Head-C/Head-D/Head-E/Head-F/Head-End
{%- for sheet in sheets %}
Sheet {{loop.index}}.
Fixed Cells: {{sheet.abs.CELL_A}} {{sheet.abs.CELL_B}}
{%- for row in sheet.rows %}
{{row.col_00}}/{{row.col_01}}/{{row.col_02}}/{{row.col_03}}/{{row.col_04}}/{{row.col_05}}/{{row.col_06}}
{%- endfor -%}{% endfor -%}