<!DOCTYPE html>
<html>
    <head>
        <title>render test</title>
        <style>
            .ltext{
                width:40em;
            }
        </style>
    </head>
<body>
<h1>データ登録イメージ</h1>
{%- for sheet in sheets %}
<h2>{{sheet.abs.LABEL}}</h2>
<table>
    <thead><tr><th>カラム名</th><th>入力</th></tr></thead>
    {%- for row in sheet.rows %}
    {% if row.col_02 == '数値' and row.col_00 != 'id' -%}
    <tr><td><label for="{{row.col_00}}">{{row.col_01}}</label></td><td><input type="number" name="{{row.col_00}}"></td></tr>
    {%- elif row.col_02 == '文字列' -%}
    <tr><td><label for="{{row.col_00}}">{{row.col_01}}</label></td><td><input type="text" name="{{row.col_00}}" maxlength="{{row.col_03}}"></td></tr>
    {%- elif row.col_02 == '日付' -%}
    <tr><td><label for="{{row.col_00}}">{{row.col_01}}</label></td><td><input type="date" name="{{row.col_00}}"></td></tr>
    {%- elif row.col_02 == '真偽' -%}
    <tr><td><label for="{{row.col_00}}">{{row.col_01}}</label></td><td><input type="checkbox" name="{{row.col_00}}"></td></tr>
    {%- endif -%}
    {%- endfor %}
</table>
<button>登録</button>
{%- endfor %}
</body>
</html>