{% for header in data.headers -%}
    {{header}}{%if not loop.last %}/{%endif -%}
{% endfor %}
{%- for sheet in data.sheets %}
Sheet {{loop.index}}.
{%- for rows in sheet %}
{{rows.Name}}/{{rows['Head-B']}}/{{rows['Head-C']}}/{{rows['Head-D']}}/{{rows['Head-E']}}/{{rows['Head-F']}}/{{rows['Head-End']}}
{%- endfor -%}{% endfor -%}