[
{%- for sheet in sheets %}
    {
        "name" : "{{sheet.abs.NAME}}",
        "description" : "{{sheet.abs.DESCRIPTION}}",
        "lines" : [
    {%- for row in sheet.rows if row.C -%}
            {% if row.C %}
            {
                "date" : "{{row.C | excel_time('%Y/%m/%d')}}",
                "event" : "{{row.D}}",
                "price" : "{{row.H}}"
            }{% if not loop.last %},{%endif -%}
            {%- endif %}
    {%- endfor %}
        ]
    }{% if not loop.last %},{%endif -%}
{%- endfor %}
]
