Name/Head-B/Head-C/Head-D/Head-E/Head-F/Head-End
{%- for sheet in sheets %}
{{sheet.name}}.
{%- for rows in sheet.rows %}
{{rows.A}}/{{rows.B}}/{{rows.C}}/{{rows.D}}/{{rows.E}}/{{rows.F}}/{{rows.G}}
{%- endfor -%}{% endfor -%}