{%- for sheet in sheets %}
create table {{sheet.abs.TABLE}} (
    {%- for row in sheet.rows %}
    {{row.col_00}} {% if row.col_02 == '数値' -%}
        {{'integer'}}
    {%- elif row.col_02 == '文字列' -%}
        {{'varchar'}}
    {%- elif row.col_02 == '日付' -%}
        {{'date'}}
    {%- elif row.col_02 == '真偽' -%}
        {{'char'}}
    {%- endif -%}
    {%- if row.col_02 != '日付' -%}({{row.col_03}}){% endif -%}
    {%- if row.col_04 != '〇'%} NOT NULL{% endif -%}
    {%- if not loop.last %},{% endif %}
    {%- endfor %}
)
{%- endfor %}
