<!DOCTYPE html>
<html>
    <head>
        <title>render test</title>
        <style>
            .ltext{
                width:40em;
            }
        </style>
    </head>
<body>
<h1>データ登録イメージ</h1>
{%- for sheet in sheets %}
<h2>{{sheet.abs.C4}}</h2>
<table>
    <thead><tr><th>カラム名</th><th>入力</th></tr></thead>
    {%- for row in sheet.rows %}
    {% if row.C == '数値' and row.A != 'id' -%}
    <tr><td><label for="{{row.A}}">{{row.B}}</label></td><td><input type="number" name="{{row.A}}"></td></tr>
    {%- elif row.C == '文字列' -%}
    <tr><td><label for="{{row.A}}">{{row.B}}</label></td><td><input type="text" name="{{row.A}}" maxlength="{{row.D}}"></td></tr>
    {%- elif row.C == '日付' -%}
    <tr><td><label for="{{row.A}}">{{row.B}}</label></td><td><input type="date" name="{{row.A}}"></td></tr>
    {%- elif row.C == '真偽' -%}
    <tr><td><label for="{{row.A}}">{{row.B}}</label></td><td><input type="checkbox" name="{{row.A}}"></td></tr>
    {%- endif -%}
    {%- endfor %}
</table>
<button>登録</button>
{%- endfor %}
</body>
</html>