{
    "persons" : [
{%- for person in rows %}
        {
            "group" : "{{person.group}}",
            "number" : "{{person.number}}",
            "name" : "{{person.name}}"
        }{% if not loop.last %},{% endif %}
{%- endfor%}
    ]
}
