{
    "persons" : [
{%- for person in rows %}
        {
            "group" : "{{person.col_00}}",
            "number" : "{{person.col_01}}",
            "name" : "{{person.col_02}}"
        }{% if not loop.last %},{% endif %}
{%- endfor%}
    ]
}
