{
    "members" : [
        {% for line in rows %}
        {
            "Number" : "{{line.column_00}}",
            "Name" : "{{line.column_01}}",
            "Role" : "{{line.column_02}}"
        }{%if not loop.last %},{%endif%}
        {%- endfor -%}
    ]
}