{
    "persons" : [
{%- for person in rows %}
        {
{%- for c in cols %}
            "{{c}}" : "{{person[c]}}"{% if not loop.last %},{% endif %}
{%- endfor%}
        }{% if not loop.last %},{% endif %}
{%- endfor%}
    ]
}
